@page "/logtrail"
@using XtermBlazor
@using Mana.Models
@using Microsoft.Extensions.Options
@inject IOptions<ManaConfiguration> Config

<PageTitle>Logtrail</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Logtrail</MudText>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Live Stream">
        <Xterm @ref="_terminal" Options="_options" AddonIds="_addonIds" OnFirstRender="@OnFirstRender"/>
    </MudTabPanel>

    <MudTabPanel Text="Browse Data">
        <MudPaper Elevation="25">
            <MudToolBar>
                <MudSpacer/>
                <MudDateRangePicker Label="Filter date range" @bind-DateRange="_dateRange"/>
                <MudToggleIconButton @bind-Toggled="@AutoRefresh"
                                     Icon="@Icons.Material.Filled.CheckCircle" Color="@Color.Default" Title="Off"
                                     ToggledIcon="@Icons.Material.Filled.CheckCircle" ToggledColor="@Color.Success" ToggledTitle="On"/>
                <span>Auto-refresh is @(AutoRefresh ? "On" : "Off")</span>
                <MudIconButton Icon="@Icons.Material.Outlined.Refresh" OnClick="Refresh"/>
            </MudToolBar>
        </MudPaper>
        <MudDataGrid T="LogEntry" Items="@_elements" Filterable="true" ReadOnly="true" Dense="true" HorizontalScrollbar="true">
            <Columns>
                <Column T="LogEntry" Field="Timestamp" Title="Timestamp" StickyLeft="true"/>
                <Column T="LogEntry" Field="LoggerName" Title="Logger"/>
                <Column T="LogEntry" Field="Level" Title="Level"/>
                <Column T="LogEntry" Field="Message" Title="Message"/>
            </Columns>
        </MudDataGrid>
    </MudTabPanel>
</MudTabs>
